<div>
  <% if @email.any? %>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <% @email.each do |e| %>
            <tr>
              <%= render 'email/action_table' , e: e %>
              <%= render 'email/content_table' , e: e %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    Not Found
  <% end %>
</div>
